<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 copyright">
      &copy; 2019 MOUNTAIN KINGDOM
    </div>
    <div class="col-sm-12 col-md-4 links">
      <ul>
        <li>
          <a [routerLink]=[ROUTES.COOKIES]>Cookies</a>
        </li>
        <li>
          <a [routerLink]=[ROUTES.PRIVACY]>Privacy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4 designed">
      <span class="font-gray font-light">Design by</span>&nbsp;<span class="font-semibold">Wizard of Oz</span>
    </div>
  </div>
</div>
