@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/variables.scss';

$side-padding: 50px;

:host {
  width: 100%;
  display: block;
  font-size: .6875rem;
  line-height: .6875rem;
  color: $color-white;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);

  .container-fluid {
    padding: 20px 0;

    .designed,
    .copyright {
      text-align: center;
    }

    .copyright {
      margin-bottom: $margin-global;
    }

    .links {
      text-align: center;
      margin-bottom: $margin-global;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          &:first-child {
            padding-right: 20px;
            border-right: 1px solid $color-white;
          }

          &:last-child {
            padding-left: 20px;
          }
          a {
            color: $color-white;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md) {
  :host {
    .container-fluid {
      .designed {
        padding-right: $side-padding;
        text-align: right;
        margin-bottom: 0;
      }

      .copyright {
        padding-left: $side-padding;
        text-align: left;
        margin-bottom: 0;
      }

      .links {
        margin-bottom: 0;
      }
    }
    }
}
