<nav>
<ul>
  <li class="d-none d-md-block">
    <a [routerLink]=[ROUTES.ABOUT]>About</a>
  </li>
  <li class="d-none d-md-block">
    <a [routerLink]=[ROUTES.OFFER]>Offer</a>
  </li>
  <li class="logo">
    <a [routerLink]=[ROUTES.HOME]>
      <img src={{logoUrl}} alt="Mountain">
    </a>
  </li>
  <li class="d-none d-md-block">
    <a [routerLink]=[ROUTES.GALLERY]>Gallery</a>
  </li>
  <li class="d-none d-md-block">
    <a [routerLink]=[ROUTES.CONTACT]>Contact</a>
  </li>
</ul>
<ul class="d-md-none">
  <li>
    <a [routerLink]=[ROUTES.ABOUT]>About</a>
  </li>
  <li>
    <a [routerLink]=[ROUTES.OFFER]>Offer</a>
  </li>
  <li>
    <a [routerLink]=[ROUTES.GALLERY]>Gallery</a>
  </li>
  <li>
    <a [routerLink]=[ROUTES.CONTACT]>Contact</a>
  </li>
</ul>
</nav>
