@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/variables.scss';

$margin-right-lg: 70px;

:host {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 43px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin-right: $margin-global;

      &.logo {
        margin-right: 0;
      }

      a {
        color: $color-white;
        text-transform: uppercase;

        img {
          margin-bottom: $margin-global;
        }
      }
    }
  }
}



@media (min-width: $screen-md) {
  :host {
      ul {
        li {
          margin-right: $margin-right-lg;

          &.logo {
            margin-right: $margin-right-lg;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            img {
              margin-bottom: 0;
            }
          }
        }
      }
  }
}
