<ng-template #content>
  <div class="sample-container">
    <div class="sample-text">
      This is the sample modal
    </div>
    <div class="sample-close">
      <button>
        Close Modal
      </button>
    </div>
  </div>
</ng-template>
