<ng-template #content>
  <app-login></app-login>
</ng-template>

<div class="text-center">
  <img src="/assets/images/main_title.png" alt="Mountain Kingdom" class="d-block">
  <button class="main-button" (click)="open(content)">Enter the gates</button>
</div>
