<div class="main-container">
  <app-header></app-header>
  <div class="container-fluid content">
    <div class="row">
      <div class="col-12">
        <section>
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
