@import '../../../assets/styles/colors.scss';

.login-container {
  padding: 45px;

  h3 {
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: 40px;
    font-weight: 400;
    color: $color-darkgray;
  }

  input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid $color-darkgray;
    padding: 13px 0;
    font-size: .8125rem;
    color: $color-darkgray;
    text-align: center;
    width: 100%;

    &.login {
      margin-bottom: 30px;
    }

    &.password {
      margin-bottom: 42px;
    }
  }

  button {
    width: 100%;
  }
}

::placeholder {
  color: $color-darkgray;

}

:-ms-input-placeholder {
  color: $color-darkgray;
}

::-ms-input-placeholder {
  color: $color-darkgray;
}
