<div class="login-container text-center">
  <h3>Are you a Mountain King?</h3>

  <form (submit)="loginUser($event)">
    <div>
      <input type="email" class="login" placeholder="Username" id="login">
    </div>
    <div>
      <input type="password" class="password" placeholder="Password" id="password">
    </div>
    <div>
      <button class="main-button" type="submit">Log in</button>
    </div>
  </form>
</div>

