@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&subset=latin-ext');
@import 'colors.scss';
@import 'variables.scss';

HTML, BODY {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8125rem;
  color: $color-white;
}

a {
  text-decoration: none;
}

.main-container {
  background-image: url('/assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-gray {
  color: $color-gray;
}

.main-button {
  color: $color-white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  background-image: linear-gradient(to right, #ddbe5c, #cda628);
  border: none;
  cursor: pointer;
  font-size: .875rem;
  line-height: .875rem;
}

.modal-open .modal {
  display: flex !important;
  align-items: center !important;

  .modal-dialog {
    flex-grow: 1;
  }
}

img {
  max-width: 100%;
}

input {
  outline: 0;
}

@media (min-width: $screen-md) {
  .main-button {
    min-width: 265px;
  }
}
